@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    margin: 0;
} 
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #083739;
}

h3 {
    margin-top: 15px;
}

header {
    background-color: #BFE3E4;
    padding: 70px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.head-col1 {
    float: left;
    padding-top: 30px;
    width: 60%;
}

.head-col2 {
    float: left;
    width: 40%;
}

.head-col2 img {
    margin-left: 50%;
}

header p {
    margin-top: 20px;
    font-size: large;
}

nav {
    overflow: hidden;
    background-color: #0a494b;
    padding: 5px;
  }

nav .nav-brand {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}

nav .nav-link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav .nav-link:hover {
    background-color: #BFE3E4;
    color: black;
}

main {
    line-height: 2;
}
footer {
    background-color: #002e2f;
    color: white;
    line-height: 2;
    text-align: center;
}
aside {
    color: #002a51;
    background-color: #d0e8ff;
    float: left;
    width: 50%;
    height: 400px;
}

section {
    background-color: #BFE3E4;
    height: 400px;
    float: left;
    width: 50%
}

.quotes{
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("quotes.jpg");
    text-align: center;
    color: white;
}

.container {
    padding: 30px;
}

main::after {
    content: "";
    display: table;
    clear: both;
}